data/**/*.csv
data/**/*.xml
data/**/*.zip
.vscode/*
src/models/serialized_models/*
src/src.egg-info/*
src.egg-info/*
dist/*
build/*
__pycache__/
rs-venv/*
.mypy_cache/*
models/**/*.pkl
models/**/*.csv
notebooks/.ipynb_checkpoints
results/*.csv
