app/assets/models/cb/*
app/assets/models/cf/*
data/**/*.csv
data/**/*.xml
data/**/*.zip
features/*.csv
.vscode/*
src/src.egg-info/*
src.egg-info/*
dist/*
build/*
__pycache__/
rs-venv/*
.mypy_cache/*
docs/_build/*
models/**/*.pkl
models/**/*.csv
notebooks/.ipynb_checkpoints
results/*.csv
